body {
    background-color: rgb(179, 219, 222);
    font-family: Arial, sans-serif;
  }


.topo{
    background-color: rgb(198, 226, 228);
    border: 1px solid #Daa520;
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
}


.logo{
    width: 120px;
    margin: 5px 5px 5px 10px;
}


.imagem-principal{
    margin: 40px 30px;
    width: 280px;
    float: left;
    }


.texto-menor-imagem-principal{
    display: flex;
    position: relative;
    top: 150px;
    right: 15px;
    font-weight: 600;}



.nome-dispositivo-destaque{
    display: flex;
    position: relative;
    top: 120px;
    right: 10px;
    font-size: 40px;
    }


.divisoria-destaque{
    clear: both;
    }

.divisoria-beneficios{
    text-align: center;
    clear: both;}

.divisoria-beneficios>img{margin: 5px;}

.linha-nome-dispositivo{
    position: relative;
    border-color: black; 
    margin-right: 40px;
    top: 27px;}

   
    
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 40px;
    }
  
      /* Estilo básico para os produtos */
.product {
    border: 1px solid #Daa520;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    }
  
      /* Estilo para as imagens */
.product img {
    height: auto;
    margin-top: 15px;
    }

.img-beneficios{width: 300px;
    padding: 10px;}



.legenda-abaixo-nome-dispositivo{
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    color: black;
    }


.rodape{
    background-color: rgb(198, 226, 228);
    border: 1px solid #Daa520;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 10px;}

.icon-insta{
    width: 40px;
    }

.nome-insta{
    font-size: 20px;
    position: relative;
    bottom: 12px;
    }

.icon-wpp{
    width: 44px;
}

.num-wpp{
    font-size: 20px;
    display: inline;
    }

.nome-dispositivo-grid{
    text-decoration: none;
    color: black;
}        


.iphonexrgrid{width: 140px;}

.iphone11grid{width: 142px;}


.iphone12grid{width: 151px;}


.iphone13grid{width: 154px;}

.iphone14grid{width: 165px; 
    margin-left: -8px;}

.iphone15grid{width: 166px;
    margin-left: -10px;}






@media screen and (max-width: 1100px) {


.product img {
    width: 200px;
    }



.product-grid{grid-template-columns: repeat(2, 1fr);}


.nome-dispositivo-destaque{top: 197px;}


.texto-menor-imagem-principal{
    position: relative;
    top: 230px;
    font-size: 30px;}



.linha-nome-dispositivo{
    top: 107px;
}



.img-beneficios{width: 400px;}



.imagem-principal{
    width: 450px;
}

    
.logo{width: 210px;
    padding: 5px;}




.nome-dispositivo-grid{
    font-size: 50px;
}
    




}
























/*.carousel-container{
    margin: 10px 10px 10px 60px;
    clear: both;
    width: 120px;
    
    overflow: hidden;
      }
      
.carousel-slide {
    display: none;
      }
      
img {
    width: 100%;
    height: auto;
      }
      





























@media screen and (max-width: 768px) {








    
}