*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(167, 219, 223);
}

.topo{
    background-color: rgb(198, 226, 228);
    border: 1px solid #Daa520;
    border-radius: 10px;
    margin: 0px 20px 110px 20px;
}

.logo{
    width: 120px;
    margin: 5px 5px 5px 10px;
}

.cartao-venda{
    background-color: white;
    padding: 15px 30px 15px 15px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.301);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "cartao-iphone detalhes-sobre-cell ficha-tecnica";
    gap: 15px;
}

@media (max-width: 1165px) {
    .cartao-venda{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "cartao-iphone detalhes-sobre-cell"
        "ficha-tecnica .";
    }
    .ficha-tecnica{
        display: grid;
        grid-area: 2 / 1 / auto / span 3;
        align-items: center;
    }
}

@media (max-width: 833px){
    .cartao-venda{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cartao-iphone"
        "detalhes-sobre-cell"
        "ficha-tecnica";
    }
}


.cartao-iphone{
    grid-area: cartao-iphone;
    padding: 10px;
    border-radius: 4px;
    margin: 0 5px 0 0;
    background-color: #ededed23;
    text-align: center;
}

#iphone-mostrado{
    max-width: 300px;
}

.detalhes-sobre-cell{
    grid-area: detalhes-sobre-cell;
    list-style-position: inside;
}

.detalhes-sobre-cell ul{
    margin-top: 40px;
}

.detalhes-sobre-cell li{
    padding-top: 10px;
}

.img-iphone{
    max-width: 390px;
    text-align: center;
}

.nome-cell{
    font-size: 2.75em;
}

.opcoes{
    margin-top: 20px;
}

.valor{
    font-size: 28px;
}

.beneficio{
    font-size: 19px;
    color: #00a650;
    font-weight: normal;
}

.beneficio:nth-child(1){
    margin-left: 5px;
}

.segundo-valor{
    font-size: 19px;
    display: flex;
}

/* Formulário */

.form-1{
    margin-top: 30px;
    width: 130px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 5px;}

.form-2{
    width: 75px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 5px;}

.form-3{
    width: 88px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 5px;}

.formularios{
    font-size: 20px;
}

.p-titulo{
    margin-top: 15px;
}

/* Botões pra selecionar cor do Iphone */

.cores{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 5px;
}

.cores button{
    border: 1px solid #BBBFBF;
    padding: 3px;
    border-radius: 4px;
    background-color: white;
}

@media (max-width: 300px) {
    .cores{
        width: 260px;
        gap: 3px;
    }

    .cores button{
        border: 0;
        outline: 1px solid #BBBFBF;
        padding: 2px;
    }
}

.cores button:hover{
    border: 1px solid #3483fa;
    cursor: pointer;
}

/* Botões Memória */

.memorias{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 10px
}

.memorias button{
    border: 1px solid #BBBFBF;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.memorias button:hover{
     border: 1px solid #3483fa;
}

.memorias button:active{
    border: 1px solid #3483fa;
}

.botao-comprar{
    display: block;
    margin-top: 30px;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
    align-items: center;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    width: 327px;
}

.botao-comprar:hover{
    background-color: #2968c8;
}

/* Ficha Técnica */
caption{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.ficha-tecnica{
    display: grid;
    grid-area: ficha-tecnica;
    align-content: start;
    text-align: center;
    vertical-align: middle;
}

.tabela-zebra td{
    padding: 20px;
    background-color: #eaeaea;
    border-bottom: 1px solid #BBBFBF;
    border-top: 1px solid #BBBFBF;
}

.ficha-tecnica td + td{
    border-left: 1px solid #BBBFBF;
    
}

/* Podem te interessar */

#outros-titulo{
    margin-top: 100px;
    margin-left: 30px;
}

.outros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 30px 150px 30px;
    text-align: center;
    gap: 15px;
}

@media (max-width: 1030px) {
    .outros{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 620px){
    .outros{
        grid-template-columns: 1fr;
    }
}

.cartao-outros{
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
}

.imagens-outros{
    max-width: 110px;
    height: auto;
}

.preco-outros{
    margin-top: 5px;
    font-size: 1.50em;
    margin-left: 20px;
}

.p{
    margin-top: 5px;
    margin-left: 20px;
}

.beneficio-outros{
    font-size: 16px;
    color: #00a650;
    font-weight: normal;
}

footer{
    background-color: rgb(81, 207, 216);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: black;
}